.conteiner{
	/*width: 100%;*/
	width:  860px;	
}
.suscription{
	/*height: 946px;*/
	height: 1118px;	
}
.fecha{
	margin-top: 118px;	
}
.spanfecha1{
	margin-left: 468px;
}
.spanfecha2{
	margin-left: 36px;
}
.nombre{
	margin-top: 14px;	
}
.spannombre{
	margin-left: 57px;
}
.nit{
	margin-top: 3px;
}
.spannit{
	margin-left: 57px;	
}
.spandir{
	margin-left: 157px;
}
.tel{
	margin-top: 1px;	
	width: 100%;		
}
.spantel{	
	margin-left: 17px;
	font-size: 14px;
}
.spanforma{		
	
}
.spanemail{		
	
}
.suscripcion{
	margin-top: 38px;
	margin-left: 17px;
	font-size: 15px;
}
.fila{
	font-size: 15px;
	margin-top: 7px;
}
.cantidad{}
.descripcion{
	margin-left: 157px;
}
.valorunitario{
	/*margin-left: 207px;*/
	margin-left: 187px;
}
.total{
	margin-left: 37px;	
}
