/*medidas de la pagina
width: 814px;
height: 1034px; 
html{margin:0px 0px 0px 0px;}
*/
font{
	font-size: 11px;
	/*font-family: 'Raleway', sans-serif;*/
}
.cnt_conteiner{

	width: 100%;
    /*
    display: inline-block;   
    display: flex;
    flex-wrap: wrap;
	/*text-align: center;*/
}
.cnt_cnt{    
    /*border: 1px solid;*/
    /*width: 50%; */

    height: 290px;
    background-image: url("carnet.jpg") !important;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    float: left;   
  
}

@media print {
* {
    -webkit-print-color-adjust: exact !important; /*Chrome, Safari */
    color-adjust: exact !important;  /*Firefox*/
  }
}